<table class="table table-striped border">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Titulo</th>
			<th scope="col">Categoria</th>
			<th scope="col">Estado</th>
			<th scope="col">Prioridad</th>
		</tr>
	</thead>
	<tbody>
		@for (task of tasks; track task) {
			<tr>
				<th scope="row">{{ task.id }}</th>
				<td>{{ task.title }}</td>
				<td>
					<app-badge
						[text]="task.category"
						[type]="categoryMap[task.category]" >
					</app-badge>
				</td>
				<td>
					<app-badge
						[text]="task.status"
						[type]="statusMap[task.status]" >
					</app-badge>
				</td>
				<td>
					<app-badge
						[text]="task.priority"
						[type]="priorityMap[task.priority]" >
					</app-badge>
				</td>
			</tr>
		}
	</tbody>
</table>
