    <table class="table table-striped border">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Género</th>
          <th scope="col">Altura (cm)</th>
          <th scope="col">Unidad</th>
        </tr>
      </thead>
      <tbody>
        @for (character of characters; track character.id) {
          <tr>
            <th scope="row">{{ character.id }}</th>
            <td>{{ character.givenName }}</td>
            <td>{{ character.firstName }}</td>
            <td>{{ character.gender }}</td>
            <td>{{ character.height }}</td>
            <td>
              <app-badge
                [text]="unitLabel[character.unit]"
                [type]="unitMap[character.unit]">
              </app-badge>
            </td>
          </tr>
        }
      </tbody>
    </table>